
                <div class="product-item">
                    <img
                        src="{{image}}">
                    <h3>{{brand}}</h3>
                    <p>${{price}}</p>
                    <a href="/products/{{id}}/details" class="btn">View Details</a>
                </div>
             