{{setTitle 'Catalog Page'}}
        <section class="volcano-catalog">
            <h1 id="title"><span>Volcano</span> Catalog</h1>
              {{#if volcano}}
                {{>volcano-card}}
                {{else}}
            <div class="no-volcano">
                <p>There are no volcano found yet!</p>
            </div>
            {{/if}}
        </section>
   